
/* CSS Variables */
:root {
    /* --primary-font: 'Inter', sans-serif; */
    /* --secondary-font: 'Macondo', cursive; */
    /* --primary-color: #3a2620; dark brown */
    /* --secondary-color: #aa9581; beige */
    /* --highlight-color: #416a8e; blue */
    /* --light-highlight-color: #7a9fc2; light blue */
}

/* navbar */
/* #navbar {
    background-color: var(--primary-color);
} */

#navbar .logo {
    width: 40px;
}

/* Header */
header {
    margin-top: 70px; /* Adjust the value as needed to create space below the navbar */
}