

/* CSS Variables */
:root {
    /* --primary-font: 'Inter', sans-serif; */
    /* --secondary-font: 'Macondo', cursive; */
    --primary-color: rgba(214,201,187,1); /* warm taupe */
    --secondary-color: rgba(173,192,178,1); /* soft sage */
    --tertiary-color: rgba(255,255,255,1); /* mist */
    --highlight-color: rgba(26,83,92,1); /* deep teal */
    --dark-highlight-color: rgba(38,50,56,1); /* ink */

}

/* Google Font */
.quicksand-regular {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 40px;
}

/* Main */
main {
    margin-top: 70px; 
}

body {
    background-color: var(--tertiary-color);
}

.compliance {
    background-color: var(--secondary-color);
}